.build/
.swiftpm/
DerivedData/
node_modules
pnpm-lock.yaml
.omo
.codegraph
.cursor
video.mp4
.claude
.pnpm-store
.env
# Added by code-review-graph
.code-review-graph/
.gemini
.mcp.json
GEMINI.md
Sources/LaunchApp/.DS_Store
Sources/.DS_Store
